.knowmecard-container{
    
    @apply w-full h-max p-4 rounded-[25px] flex flex-col gap-2 border-2 border-white
     text-white lg:flex-row lg:h-[28rem] bg-[#0f111aff]
}
.knowmecard-container > .bg-gradient{
    background: linear-gradient(70deg, rgba(41, 108, 253, 0.8) 0%, rgba(55, 255, 125, 0.8) 100%);
    @apply w-full h-40 relative rounded-[25px] lg:w-[40rem] lg:h-full
}
.knowmecard-container > .bg-gradient > div{
    @apply w-full h-full absolute flex items-end justify-center lg:items-center lg:justify-end
}
.knowmecard-container > .bg-gradient > div > img{
    box-shadow: 0px 0px 0px 20px #0f111aff;
    @apply rounded-full w-36 h-36 mb-[-4.5rem] lg:mr-[-4.5rem] lg:-mb-[2.25rem] lg:mt-[-50px] border border-white
}

.knowmecard-text{
    @apply lg:pl-[5rem] flex flex-col gap-8 h-full justify-between w-full
}
.knowmecard-container > .knowmecard-text > .knowme-info{
    @apply flex flex-col gap-8 lg:pt-0 h-[15rem]
}
.knowmecard-container > .knowmecard-text > span{
    @apply text-4xl
}
.knowmecard-container > .knowmecard-text > .knowme-info > p{
    @apply text-3xl opacity-75
}


.knowmecard-container > .knowmecard-text > .contacts{
    @apply w-max h-max flex flex-row gap-4 py-2 flex-wrap w-full
}
.knowmecard-container > .knowmecard-text > .contacts > div{
    @apply w-max h-max p-4 flex items-center justify-center 
    transition-all
    hover:-translate-y-2
    border border-white rounded-[10px] cursor-pointer relative
}
.knowmecard-container > .knowmecard-text > .contacts > div > img{
    @apply w-6 h-6
}



.knowmecard-container > .knowmecard-text > .contacts > div >.tooltip{
    @apply w-max absolute z-20 -bottom-[4.25rem] opacity-0 bg-slate-900 p-2 border border-white text-white rounded-lg scale-0 transition-all duration-150
}
.knowmecard-container > .knowmecard-text > .contacts > div >.tooltip > div{
    @apply w-[calc(100%-1rem)] h-max flex justify-center absolute z-50 items-center -top-[0.58rem]
}
.knowmecard-container > .knowmecard-text > .contacts > div > .tooltip > div > div {
    @apply p-2 bg-slate-900 h-max w-max rotate-45 border-l border-t border-white
}
.knowmecard-container > .knowmecard-text > .contacts > div:hover > .tooltip{
    @apply  opacity-100 scale-75 md:scale-100
}


iframe::-webkit-scrollbar {
    width: 9px; /* width of the entire scrollbar */
  }
  
iframe::-webkit-scrollbar-track {
background: #02060eff; /* color of the tracking area */
}

iframe::-webkit-scrollbar-thumb {
background-color: #5ce081ff; /* color of the scroll thumb */
border-radius: 20px; /* roundness of the scroll thumb */
}