body {
  @apply bg-[#0f111aff] w-screen overflow-x-hidden;
}
.main {
  background-image: url("./assets/background.svg");
  @apply w-full min-h-screen h-max flex flex-col gap-52;
}
.main > .footer {
  @apply py-6 w-full h-max flex items-center justify-center backdrop-blur-[2px]
    font-bold bg-[#0f111aff]/10  text-white;
}

body::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #02060eff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #5ce081ff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}


